<form method="POST" action="/register">
  <div>Username: <input name="username" /></div>
  <div>Password: <input name="password" /></div>
  <div>Ime: <input name="ime" /></div>
  <div>Prezime: <input name="prezime" /></div>
  <div>Godina rodjenja: <input name="godina_rodjenja" /></div>
  <div>Broj telefona: <input name="br_telefona" /></div>
  <div>Email: <input name="email" /></div>
  <div>Admin: <input name="admin" /></div>

  <div><button type="submit">Register</button></div>
</form>
